@page "/alltvshows"
@using MyShowWatch.Shared
@using Microsoft.AspNetCore.Components
@inject HttpClient Http

<br />
<div>
    <SearchForTitle></SearchForTitle>
</div>
<br />

<h3>All TV shows I'm tracking</h3>

@if (tvshows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Show Title</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var show in tvshows)
            {
                <tr>
                    <td>@show.Title</td>
                    <td>
                        <a href="@($"showdetail/{show.Title}")" class="btn btn-info table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private string Title;

    private static readonly String baseURL = "https://localhost:5001/Show/";

    private List<Show> tvshows;

    protected override async Task OnInitializedAsync()
    {
        tvshows = await Http.GetFromJsonAsync<List<Show>>(baseURL + "alltvshows");
    }

}
