<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MyShowWatch</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allshows">
                <span class="oi oi-camera-slr" aria-hidden="true"></span> All Shows
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alltvshows">
                <span class="oi oi-monitor" aria-hidden="true"></span> TV Shows
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alldocumentaries">
                <span class="oi oi-document" aria-hidden="true"></span> Documentaries
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allmovies">
                <span class="oi oi-camera-slr" aria-hidden="true"></span> Movies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="detailedview">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Detailed View
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}



