@using MyShowWatch.Shared
@using Microsoft.AspNetCore.Components
@using System.IO
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="input-group">
    <input class="form-control" input type="text" placeholder="Search by title" @bind-value="Title" />
    <div class="input-group-append">
        <button class="btn btn-info" @onclick="Search">Search</button>
    </div>
</div>




@if (found)
{
    NavigationManager.NavigateTo($"showdetail/{searchResult.Title}");
}

<div>@errormessage</div>


@code{

    private static readonly String baseURL = "https://localhost:5001/Show/Search/";

    [Parameter]
    public String Title { get; set; }

    [Parameter]
    public String titleNoSpaces { get; set; }

    [Parameter]
    public Show searchResult { get; set; }

    private bool found;

    private string errormessage;


    public async Task Search()
    {
        try
        {
            // replace any spaces with %20 for url

            titleNoSpaces = Title.Replace(" ", "%20");

            searchResult = await Http.GetFromJsonAsync<Show>(baseURL + titleNoSpaces);

            found = true;
            errormessage = String.Empty;
        }
        catch (Exception e)
        {
            found = false;
            Console.WriteLine(e.Message);
            errormessage = "This title wasn't found, maybe check your spelling or try another one!";
        }

    }

}